.home {
	height: 100%;
	padding-top: 40vh;
	overflow: hidden;
	align-items: center;
	text-align: center;
	background: linear-gradient(
		to right,
		rgba($primary-color, 0.9),
		rgba($primary-color, 0.6)
	);
	//url(../img/headshot.jpg) center center;
	background-size: cover;

	h2 {
		font-size: 1.2rem;
	}

	.sub-title {
		font-size: 3rem;
		font-weight: 900;
		font-family: 'Patua One', cursive;
		color: black;
		-webkit-text-fill-color: $text-shadow;
		-webkit-text-stroke-width: 2px;
	}

	&_name {
		font-size: 4rem;
		font-family: 'Playfair Display', serif;
		color: black;
		text-shadow: 6px 2px 6px $text-shadow;
		padding-bottom: 0;
		margin-bottom: 0;

		&--last {
			color: black;
		}
	}
}
